@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

/* Reset e configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f8f9fa;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #fff;
    padding: 1.5rem 2rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 1.5rem;
    color: #2c3e50;
    width: 200px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #2c3e50;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem
}

.brand-name {
    font-family: "DotGothic16", sans-serif;
    font-style: normal;
    font-size: 12rem;
    font-weight: 900;
    color: #000000;
    letter-spacing: -3px;
    line-height: 1;
    margin-bottom: 1rem;
}

.tagline {
    font-size: 1.5rem;
    color: #7f8c8d;
    font-weight: 300;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem
}

footer {
    text-align: center;
    padding: 2rem;
    color: #95a5a6;
    font-size: 0.9rem;
}

main a {
    text-decoration: none;
}

@media (max-width: 768px) {
    .brand-name {
        font-size: 5rem;
    }
    
    .tagline {
        font-size: 1.2rem;
    }
    
    nav {
        flex-direction: column;
        padding: 1rem;
    }
    
    .nav-links {
        margin-top: 1rem;
    }
    
    .nav-links li {
        margin: 0 1rem;
    }
}

@media (max-width: 480px) {
    .brand-name {
        font-size: 3.5rem;
    }
    
    .tagline {
        font-size: 1rem;
    }
}